BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "Q" IO_TYPE=LVCMOS33 PULLMODE=DOWN CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "SDO" IO_TYPE=LVCMOS33 PULLMODE=DOWN CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "NCS" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW DRIVE=4 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "LED[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "LED[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "LED[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "LED[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "LED[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "SCK" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW DRIVE=4 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
LOCATE COMP "Q" SITE "30" ;
LOCATE COMP "SDO" SITE "35" ;
LOCATE COMP "NCS" SITE "31" ;
LOCATE COMP "LED[1]" SITE "19" ;
LOCATE COMP "LED[2]" SITE "14" ;
LOCATE COMP "LED[3]" SITE "7" ;
LOCATE COMP "LED[4]" SITE "2" ;
LOCATE COMP "LED[5]" SITE "1" ;
LOCATE COMP "SCK" SITE "34" ;
IOBUF PORT "RESET" IO_TYPE=LVCMOS33 PULLMODE=DOWN CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "DC[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "DC[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "DMCK" IO_TYPE=LVCMOS33 PULLMODE=DOWN CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "DC[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "DC[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
LOCATE COMP "RESET" SITE "28" ;
LOCATE COMP "DC[1]" SITE "24" ;
LOCATE COMP "DC[2]" SITE "29" ;
LOCATE COMP "DC[3]" SITE "17" ;
LOCATE COMP "DC[4]" SITE "16" ;
LOCATE COMP "DMCK" SITE "4" ;
SYSCONFIG JTAG_PORT=DISABLE MUX_CONFIGURATION_PORTS=ENABLE ;
LOCATE COMP "TP[1]" SITE "95" ;
LOCATE COMP "TP[2]" SITE "94" ;
LOCATE COMP "TP[3]" SITE "90" ;
LOCATE COMP "TP[4]" SITE "91" ;
IOBUF PORT "TP[2]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "TP[1]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "TP[3]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "TP[4]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
FREQUENCY NET "IOCK" 20.000000 MHz ;
IOBUF PORT "DC[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN CLAMP=OFF SLEWRATE=SLOW DRIVE=8 OPENDRAIN=OFF DIFFRESISTOR=OFF ;
LOCATE COMP "DC[5]" SITE "12" ;
